body {
  font-size: 100%;
  font-family: 'Courier New', monospace;
  text-align: center;
  margin-top: 20px;
}

#score{
  color: red;
  font-weight:  bold;
  font-size: 2em;
}

#problemWord{
  font-weight:  bold;
  font-size: 2.5em;
}
#typingWord {
  font-size: 1.5em;
}
